use Mix.Config

config :orcid_adapter, Adapter.Repo,
  hostname: "0.0.0.0",
  port: "1234",
  username: "username",
  password: "*******",
  database: "data_base",
  show_sensitive_data_on_connection_error: false,
  timeout: 60000,
  log: :info

config :orcid_adapter,
  ecto_repos: [Adapter.Repo],
  orcid_client_id: "ORCID-CLIENT-ID",
  orcid_client_secret: "ORCID-CLIENT-SECRET",
  orcid_token: "TOKEN"
